body {
	background-color: black;
    overflow-y:scroll;
	overflow-x:hidden;
}
.container {
	height:auto;
}

#main-header {
	margin-top:10px;
	margin-bottom:10px;
}

.header-image {
	max-width:768px;
	height:412px;
	position:relative; 
	left:-20%;
}
@media screen and (min-width: 768px){
	.header-image {
		max-width:768px;
		height:412px;
		margin-left: auto;
		margin-right: auto;
		display:block; 
		left:0;
	}
}
.copyright {
	float:left;
	margin-left:15px;
    border-bottom: 1px dotted white;
    
}
@media screen and (min-width: 768px){
	.copyright {
		float:right;
		margin:0;
		padding-bottom: 5px;
	}
}

.main-content {
	border-top: 1px solid rgb(127, 0, 0);
	border-top: 1px solid rgba(255, 0, 0, .3);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	padding-top:9px;
}


nav {
	display:block;
	
}
@media screen and (min-width: 768px){
	nav {
		display:flex;
		justify-content: center;
	}
	
}
.navbar-inverse {
	background-color: rgb(127, 0, 0);
	background-color: rgba(120, 120, 120, .2);
}


.navbar-title{
	color: #FFF;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 15px;
	display:block;
	font-family: "Gabriola";
	line-height:25px;
}

@media screen and (min-width: 768px){
	.navbar-title{
		display:none;
	}
}


@media screen and (min-width: 768px){
	.footer{
		margin-top:0;
		position:relative;
		bottom: 15px;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 15px;
	}
}
.footer {
  margin-top:30px;
}
.article:last-child {
    padding-bottom:20px;
}

#section-newsposts {
    max-width: 450px;
    float:left;
}


article > p {
    color:#FFF;
}

.btn-more{
	margin: 0 15px 0 15px;
	width:90%
}

@media screen and (min-width: 768px){
	.btn-more{
		margin: 0 15px 0 15px;
		width:95%
	}
}